    <article class="post noHover">
        <div class="d-flex post-header">
            <h3>{{post.title}}</h3>
            <p>by {{post.user.username}} on {{format_date post.created_at}}</p>
        </div>
        <p class="post-content">{{post.text}}</p>
    </article>

{{#each post.comments}}
<div class="comment">
    <div class="d-flex comment-header">
        <h4>{{user.username}} 
            <span>
                on {{format_date created_at}}
            </span> 
        </h4>
    </div>
    <p class="post-content">{{text}}</p>
</div>
{{/each}}

{{#if loggedIn}}
<form class="newcomment-form">
    <label for="comment">Comment</label></br>
    <textarea id="comment" class="w-100 form-control"></textarea>
    <div class="text-center m-4">
        <input type="submit" value="Submit" class="btn">
    </div>
</form>
{{/if}}

<script src="/scripts/newcomment.js"></script>